@page "/"
@using System.ComponentModel
@using AgentDemos.Agents
@using Microsoft.SemanticKernel
@using Microsoft.SemanticKernel.Agents
@using Microsoft.SemanticKernel.ChatCompletion
@using System.Diagnostics
@inject NavigationManager Nav
@implements IDisposable

<PageTitle>Chat</PageTitle>

<ChatHeader OnNewChat="@ResetConversationAsync" />

<ChatMessageList Messages="@chatThread.ChatHistory" InProgressMessage="@currentResponseMessage">
  <NoMessagesContent>
  </NoMessagesContent>
</ChatMessageList>

<div class="chat-container">
  @* <ChatSuggestions OnSelected="@AddUserMessageAsync" @ref="@chatSuggestions" /> *@
  <ChatInput OnSend="@AddUserMessageAsync" @ref="@chatInput" />
</div>

@code {
  private ChatHistoryAgentThread chatThread = new();
  private CancellationTokenSource? currentResponseCancellation;
  private ChatMessageContent? currentResponseMessage;
  private ChatInput? chatInput;
  private ChatSuggestions? chatSuggestions;
  private ChatCompletionAgent CourseRecommendationAgent;

  [Inject]
  public Kernel Kernel { get; set; }

  protected override void OnInitialized()
  {
    chatThread = new ChatHistoryAgentThread(new ChatHistory());
    // CourseRecommendationAgent = U2UAgentFactory.CreateCourseRecommendationAgent(Kernel);
    CourseRecommendationAgent = U2UAgentFactory.CreateReportingAgent(Kernel);
  }

  private async Task AddUserMessageAsync(ChatMessageContent userMessage)
  {
    CancelAnyCurrentResponse();

    // Add the user message to the conversation
    chatThread.ChatHistory.Add(userMessage);
    chatSuggestions?.Clear();
    await chatInput!.FocusAsync();

    using var parentActivity = new Activity("AgentInvocation")
     .SetTag("agent.type", "CourseRecommendationAgent")
     .SetTag("chat.thread.id", chatThread.Id)
     .Start();


    // var responseText = new TextContent("");
    currentResponseMessage = new ChatMessageContent(AuthorRole.Assistant, "");
    currentResponseCancellation = new();

    await foreach (var response in CourseRecommendationAgent.InvokeAsync(thread: chatThread, cancellationToken: currentResponseCancellation.Token))
    {
      ChatMessageItem.NotifyChanged(currentResponseMessage);
    }

    // Store the final response in the conversation, and begin getting suggestions
    currentResponseMessage = null;
    // chatSuggestions?.Update(messages);
  }

  private void CancelAnyCurrentResponse()
  {
    // If a response was cancelled while streaming, include it in the conversation so it's not lost
    if (currentResponseMessage is not null)
    {
      chatThread.ChatHistory.Add(currentResponseMessage);
    }

    currentResponseCancellation?.Cancel();
    currentResponseMessage = null;
  }

  private async Task ResetConversationAsync()
  {
    CancelAnyCurrentResponse();
    chatThread.ChatHistory.Clear();
    chatSuggestions?.Clear();
    await chatInput!.FocusAsync();
  }

  public void Dispose()
      => currentResponseCancellation?.Cancel();
}

